Foundation
https://get.foundation/
Foundation هو إطار لبناء واجهات مستخدم مشابهة لـ Bootstrap.
ويتم استخدامه من قِبل العديد من الشركات الكبيرة مثل Pixar وPolar وSonos.
إحدى الميزات البارزة لإطار عمل Foundation هو إمكانية استخدامه لتصميم المحتوى لإرساله عبر البريد الإلكتروني.  
------------------------------------------------------------------------
Pure.css
https://purecss.io/
Pure.css هي مكتبة أخرى لبناء واجهات المستخدم. وعلى الرغم من أنها لا تحتوي على العديد من الميزات مقارنة بمكتبة Bootstrap،
إلا أنها مصممة لتوفر الحد الأدنى من حجم الملف.
تعمل أحجام الملفات الصغيرة على تحسين أوقات التحميل لصفحات الويب نظرًا لوجود بيانات أقل لنقلها من خادم الويب.
إذا كان مشروعك التالي يركز على الحد الأدنى من وقت التحميل، فإن هذه المكتبة تستحق الدراسة.   
------------------------------------------------------------------------
Tailwind CSS
https://tailwindcss.com/
Tailwind CSS هو إطار عمل CSS يستخدم نهجًا قائمًا على المنفعة لقواعد CSS الخاصة به.
وهذا يعني أن الإطار يوفر العديد من فئات CSS لغرض واحد. 
على سبيل المثال، تقوم فئة CSS pt-6 بتعيين خاصية padding-top CSS إلى 6 pixels. 
وهذا يعني أنه يمكنك أن تكون دقيقًا في تطبيق التصميم على HTML دون كتابة CSS. 
والميزة في ذلك أنه أكثر مرونة لتخصيص تصميم صفحة الويب باستخدام إطار العمل. ولكن عيبه هو أنه إذا كان العديد من المطورين يعملون على مشروع واحد،
فقد يؤدي ذلك إلى تصميم غير متسق إذا لم يكن الفريق صارمًا بشأن قواعد التصميم المطبقة.   
------------------------------------------------------------------------
UIKit
https://getuikit.com/
UIKit هو إطار عمل CSS خفيف به مجموعة صغيرة من المكونات سريعة الاستجابة.
 يسمح تصميمه البسيط للمطورين بتخصيص قواعد النمط والمرئيات بسهولة.   
------------------------------------------------------------------------
MVP.css
https://andybrewer.github.io/mvp/
MVP.css هي مكتبة CSS صغيرة تقوم تلقائيًا بتصميم عناصر HTML دون الحاجة إلى تطبيق فئات CSS عليها.
 تهدف المكتبة إلى السماح للمطور بوضع نموذج أولي سريع لواجهة المستخدم دون القلق بشأن التصميم النهائي،
مع الاستمرار في كونها جذابة بصريًا. يأتي MVP من المصطلح التقني Minimal Viable Product، 
وهو منتج يتمتع بميزات كافية لعرضها على العملاء أو أصحاب المصلحة الآخرين في الأعمال.

------------------------------------------------------------------------




